<div class="mod_top">
    <div class="top_logo"><a href="/Teacher/index"></a></div>
    <div class="top_menu_pc">
        <ul class="menu_znms">
            <li id="Admin_Main"><a href="/Admin/index">首页</a></li>
            <li id="Admin_TTP"><a href="/Admin/TTP">培养方案</a></li>
            <li id="Admin_Course"><a href="/Admin/Course">课程管理</a></li>
            <li id="Admin_SchPlan"><a href="/Admin/SchPlan" class="height_pc">排课计划</a></li>
            <li id="Admin_PCL"><a href="/Admin/PCL" class="height_pc">排课课程</a></li>
            <li id="Admin_Major"><a href="/Admin/Major">专业管理</a></li>
            <li id="Admin_Teacher"><a href="/Admin/Teacher">教师管理</a></li>
        </ul>
    </div>
</div>


<div class="mod_box" style="padding-top: 0px;">
    <div class="user_name">
        <h1><%- Admin.a_name %>，欢迎您！</h1>
        <ul class="user_name_ul">
            <li class="user_name_email" title="工号"><i></i><%- Admin.login_name %></li>
            <li><a href="/">&gt;退出</a></li>
        </ul>
    </div>
</div>
