<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <title>卓智校园自助服务系统</title>
    <link type="image/x-icon" href="http://210.31.176.3:8080/z-os/img/favicon.ico" rel="icon">
    <link type="image/x-icon" href="http://210.31.176.3:8080/z-os/img/favicon.ico" rel="shortcut icon">
    <script src="../Static/Js/jquery-1.10.2.min.js"></script>
    <script src="../Static/Js/bootstrap.min.js"></script>
    <script src="../Static/Js/bootstrap-table.js"></script>
    <script src="../Static/Js/bootstrap-switch.js"></script>
    <script src="../Static/Js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="../Static/Js/common-validator.js"></script>
    <script src="../Static/Js/md5-min.js"></script>
    <script src="../Static/Js/toastr.js"></script>
    <link href="../Static/Css/toastr.min.css" rel="stylesheet">
    <script src="../Static/Js/tipso.js"></script>
    <link href="../Static/Css/tipso.min.css" rel="stylesheet">
    <script src="../Static/Js/WdatePicker.js"></script>
    <link href="../Static/Css/WdatePicker.css" rel="stylesheet" type="text/css">
    <link href="../Static/Css/zoc_self.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#self_buyPackageRecord").addClass("menu_hov");
        });
    </script>

    <style>
        <!--
        .top_menu_pc {
            float: right;
        }

        .top_menu_pc ul li {
            float: left;
            text-align: center;
        }

        .top_menu_pc ul li a {
            height: 80px;
            display: block;
            color: #555;
            font-size: 14px;
            width: 90px;
            text-decoration: none;
        }

        .top_menu_pc ul li a:hover, .menu_hov a {
        }

        .menu_znms {
            font-size: 0;
        }

        .menu_znms li {
            position: relative;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            font-size: 14px;
        }

        .menu_znms > li {
            margin: 0 0 0 -1px;
            text-align: center;
        }

        .menu_znms li a {
            display: block;
            color: #fff;
            font-size: 14px;
            *display: inline;
            *zoom: 1;
        }

        .menu_znms li a:hover, .menu_znms .menu_hov {

        }

        .menu_znms li ul {
            text-align: left;
            position: absolute;
            border-bottom: 0px solid #189;
            color: #189 !important;
        }

        .menu_znms_ie7 {
            *top: 50px;
            *left: 0;
        }

        .menu_znms li ul li {
            width: 90px;
            height: 35px;
            line-height: 35px;
            display: block;
            border-bottom: 0px solid #189;
        }

        .menu_znms li ul li a {
            display: block;
        }

        .menu_znms li ul li a:hover {
            /* border-bottom: 5px solid #189 !important;
            color: #189 !important;  */
        }

        .menu_znms li ul li ul {
            margin: 1px 0 0 0;
        }

        .menu_znms li ul li ul li a {
            display: block;
        }

        .height_pc {
            height: 35px !important;
        }

        -->
    </style>

</head>
<div id="screen-shader"
     style="            transition: opacity 0.1s ease 0s;             z-index: 2147483647;            margin: 0;             border-radius: 0;             padding: 0;             background: #939393 !important;             pointer-events: none;             position: fixed;             top: -10%;             right: -10%;             width: 120%;             height: 120%;             opacity: 0.6000;            mix-blend-mode: multiply;             display: none;        "></div>
<body style="">


<script src="../Static/Js/user_list.js"></script>

<div class="layer_box" style="display:none;" id="buy_package_div_basic">
    <div class="layer_content">
        <div class=" layer_content_box">
            <h1>
                <span id="titleSpan">购买套餐</span>
            </h1>
            <i class="close_icon" onclick="closeNewDiv(&#39;buy_package_div_basic&#39;)"></i>
            <div class="search_hov_box" id="buy_package_div">

            </div>
        </div>
    </div>
    <div class="layer_bg"></div>
</div>

<form name="buyPackageRecordForm" method="post">
    <div class="mod_box" style="padding-top: 0px;">


        <div class="user_name">
            <h1>欢迎来到教师排课系统！！！</h1>
            <ul class="user_name_ul">

                <li class="user_name_email" title="邮箱"><i></i>1695560542@qq.com</li>


                <li><a href="http://210.31.176.3:8080/z-os/self/login">&gt;退出</a></li>
            </ul>
        </div>

        <div class="user_live">
            <div class="R time_but">
                <b>编写时间：</b>
                <input id="startDate" name="startDate" value=""
                       onfocus="WdatePicker({isShowClear:true,dateFmt:&#39;yyyy-MM-dd HH:mm:ss&#39;})" type="text"
                       class="text_mod_border">
                至
                <input id="endDate" name="endDate" value=""
                       onfocus="WdatePicker({isShowClear:true,dateFmt:&#39;yyyy-MM-dd HH:mm:ss&#39;})" type="text"
                       class="text_mod_border">
                <button onclick="query(); return false;" class="text_mod_button">
                    查询
                </button>

                <span class="errMsg" style="color:red;display:none;" id="endGTStart">
						  查询开始时间不能大于查询截止时间
				 </span>
                <span class="errMsg" style="color:red;display:none;" id="dateIsFault">
				  时间格式不正确
				 </span>
            </div>
        </div>

        <table border="0" cellspacing="0" cellpadding="0" class="user_live_tabel ">
            <tbody>
            <tr>
                <th>编号</th>
                <th>课程编号</th>
                <th>排课计划编号</th>
                <th>教师编号</th>
                <th>排课状态</th>
                <th>描述</th>
            </tr>

            <tr>
                <td><span class="color_189">1</span></td>
                <td><span class="color_189">1</span></td>
                <td><span class="color_189">1</span></td>
                <td><span class="color_189">1</span></td>
                <td><span class="color_189">1</span></td>
                <td><span class="color_189">1号老师选择了1号课程，排课计划表是1</span></td>
            </tr>

            </tbody>
        </table>
    </div>

    <ul class="page_box" style="height: 40px;">
        <li class="page_box_on"><a href="javascript:void(0);">1</a></li>
        <li>共1页</li>
    </ul>
    <input type="hidden" name="currentPageNumber">
    <script type="text/javascript">function gotoPageNumber(pageNumber) {
            document.buyPackageRecordForm.currentPageNumber.value = pageNumber;
            document.buyPackageRecordForm.action = "/z-os/self/buyPackageRecord";
            document.buyPackageRecordForm.submit();
        }</script>

</form>

<div class="login_copy">卓智网络科技有限公司 版权所有保留一切权利
</div>
</body>
</html>
