<div class="mod_top">
    <div class="top_logo"><a href="/Teacher/index"></a></div>
    <div class="top_menu_pc">
        <ul class="menu_znms">
            <li id="Teacher_Main"><a href="/Teacher/index">首页</a></li>
            <li id="Teacher_CourseSelect"><a href="/Teacher/CourseSelect">选课界面</a></li>
            <li id="Teacher_User"><a href="/Teacher/User">个人设置</a></li>
        </ul>
    </div>
</div>

<div class="mod_box" style="padding-top: 0px;">
    <div class="user_name">
        <h1><%- teacher.t_name %>，欢迎您！</h1>
        <ul class="user_name_ul">
            <li class="user_name_email" title="工号"><i></i><%- teacher.t_no %></li>
            <li><a href="/">&gt;退出</a></li>
        </ul>
    </div>
</div>
